* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;

    overflow: hidden;

    background: #111;

    touch-action: none;
}

body {
    position: fixed;
}

.game {
    width: 100vw;
    height: 100vh;

    position: relative;

    overflow: hidden;

    background: #222;

    user-select: none;
    -webkit-user-select: none;

    touch-action: none;
}

/* ======================
   玩家
====================== */

.player {
    width: 40px;
    height: 40px;

    position: absolute;

    left: 100px;
    top: 200px;

    background: dodgerblue;

    border-radius: 8px;

    pointer-events: none;
}


/* ======================
   虛擬搖桿
====================== */

.joystick {
    width: 120px;
    height: 120px;

    position: absolute;

    left: 30px;
    bottom: 30px;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.15);

    border: 3px solid rgba(255, 255, 255, 0.4);

    display: flex;

    align-items: center;
    justify-content: center;

    touch-action: none;
}

.joystick-knob {
    width: 55px;
    height: 55px;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.8);

    border: 2px solid white;

    pointer-events: none;
}
